# Python virtual environments
.venv/


# Data and output directories (do not track generated content)
data/*/


# Exclude intermediate and result files
data/*/png/
data/*/text/
data/*/polished/
data/*/tts_chunks/
data/*/wav/
data/*/mp3/
data/*/concat/
data/raw


# Exclude any sensitive config, if present
project.local.toml

# Ignore PDFs placed for processing, if not source
data/raw/*.pdf

# ShellCheck and lint cache
.shellcheck*
*.bash-lint.db


